{% include 'baseapplication.html' %}



{% if data is not None %}
{% for i in data %}

<div class="form-holder">
    <div class="form-content">
        <div class="form-items">
        <div class="container">
        <div class="wrapper">
          <ul class="steps">
            <li >Step 1</li>
            <li  >Step 2</li>
            <li>Step 3</li>
            <li class="is-active">Step 4</li>
          </ul>
          <form class="form-wrapper" method="POST" action="{% url 'application2' %}" >
            {% csrf_token %}
            <fieldset class="section is-active">
              <h3> Aspired to be Leader of the House </h3>
              		<div class="row">
                                    <div class="col-12 " >
                                        <label style="float : left;font-size: 15px;font-weight: 600;"> Do you want to participate as Prime Minister or Leader of Opposition?  </label><br>
                                        <div style="word-spacing: 5px;text-align: left; float: left;margin-left: 25px;">
                                             <input type="radio" id="one-rb" name="que8" value="YES" required {% if i.que8 == 'YES' %}checked{% endif %} />
                                           <label for="one-rb">Yes</label> <br>
                                           <input type="radio" id="two-rb" name="que8" value="NO" {% if i.que8 == 'NO' %}checked{% endif %}/>
                                           <label for="two-rb">No</label><br>
                                            
                                       </div>

                                    </div>
                                            
                                <div class="row">
                                    <div class="col-12 ">
                                        <label style="float : left;font-size: 15px;font-weight: 600;">(If Answer to Above is - YES) Brief us about two government initiatives which you support/supported the most and why? (500-600 words)</label><br>
                                        <textarea type="text" class="form-control" name="que9" placeholder="Your answer" >{{ i.que2 }}</textarea>
                                    </div>
                                    
                                </div>
                                
                                
                                
                                <div class="col-12 ">
                                        <div class="form-button text-right">
                                            <button id="submit" type="submit" class="ibtn less-padding" style="background-color: #69f0ae;color: #fff;    padding: 8px 20px !important;">Save & Next</button>
                                        </div>
                                    </div>
            </fieldset>


           
          </form>
        </div>
      </div>





                    </div>
                </div>
            </div>
        </div>
    </div>




{% endfor %}

{% endif %}    

<script >
    $(document).ready(function(){
  $(".form-wrapper .button").click(function(){
    var button = $(this);
    var currentSection = button.parents(".section");
    var currentSectionIndex = currentSection.index();
    var headerSection = $('.steps li').eq(currentSectionIndex);
    currentSection.removeClass("is-active").next().addClass("is-active");
    headerSection.removeClass("is-active").next().addClass("is-active");

    $(".form-wrapper").submit(function(e) {
      e.preventDefault();
    });

    if(currentSectionIndex === 3){
      $(document).find(".form-wrapper .section").first().addClass("is-active");
      $(document).find(".steps li").first().addClass("is-active");
    }
  });
});

</script>
</body>

</html>



